TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/123456789012/CleanLoop-Intake-Queue
AWS_REGION=ap-south-1
